<div class="col-8 col-offset-2">
    <h1>$stylist.getName()</h1>

    <div class="row">
        <div class="col-3">
            <h3>$stylist.getName()'s clients:</h3>
            
        </div>
    </div>
</div>