<form action="/stylists" method="post">
    <div class="form-group">
        <label for="name">Stylist</label>
        <input class="form-control" type="text" id="name" name="name">
    </div>

    <button class="btn btn-success" type="submit">Add Stylist</button>
</form>